@charset "UTF-8";

/*
標準のドキュメントモジュールの上書きや、
新しいモジュールを追加する場合は、
このファイルに記述します。
*/

.contents h2{
	border-left:8px solid #999999;
	padding-left:15px;
}

code{
	color:#0066dd;
}

.code code{
	color:#333333;
}

dl{
	margin-left:20px;
}
dl dt{
	font-weight:bold;
}


@media all and (max-width:460px){
	/**
	 * レスポンシブデザイン
	 */
	body{
		font-size:medium;
	}
	body .theme_outline .theme_middle .theme_column1,
	body .theme_outline .theme_middle .theme_column2{
		float:none;
		clear:both;
		width:auto;
	}
	body .theme_outline{
		margin-left:5px;
		margin-right:5px;
	}

	/**
	 * ソースコード
	 */
	.code{
	}
	.code pre{
		white-space:pre-wrap;
	}

	/**
	 * フォーム table.form_elements
	 */
	table.form_elements{
	}
	table.form_elements,
	table.form_elements tbody{
		display:block;
		width:auto;
	}
	table.form_elements thead tr,
	table.form_elements thead th,
	table.form_elements thead td,
	table.form_elements tbody tr,
	table.form_elements tbody th,
	table.form_elements tbody td{
		display:block;
		width:auto;
	}

	/**
	 * カラムレイアウト .cols
	 */
	.cols {
	}
	.cols .cols-col{
		float:none;
		width:auto;
	}

}
