<?php
	$obj_funcs = $this->px->load_pxtheme_class('/funcs.php');
	$obj_funcs = new $obj_funcs($this->px);

	$colors = $obj_funcs->get_color_scheme();
	$hsb = t::color_hex2hsb( $colors['main'] );
?>
@charset "UTF-8";

body{
	text-align:center;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color:<?php print $colors['main']; ?>;
	color:<?php print $colors['text']; ?>;
	-webkit-text-size-adjust: 100%;
}
a{
	color:<?php print $colors['link']; ?>;
}

.theme_outline{
	text-align:left;
	max-width:980px;
	width:auto;
	margin:0 auto;
	padding:0 10px;
}
header{
	padding:1em 0 0.5em 0;
}
header .theme_logo{
}
header .theme_logo span,
header .theme_logo a{
	font-size:150%;
	font-weight:bold;
	color:<?php print $colors['mainx']; ?>;
	text-decoration: none;
}
header .theme_logo a:hover{
	text-decoration: underline;
}
header .theme_logo span:before,
header .theme_logo a:before{
	content:url('data:image/svg+xml;base64,<?php print base64_encode($obj_funcs->create_src_pxfw_logo_svg(array('color'=>null))); ?>');
	vertical-align: text-top;
	margin-right:15px;
}
.theme_middle{
	clear:both;
	margin:0 0 1em 0;
}
.theme_column1{
	width:74%;
	float:left;
	background-color:<?php print $colors['main2']; ?>;
	color:<?php print $colors['main2x']; ?>;
	margin-bottom:1px;
}
.theme_column1 a{
}
.theme_column1-header{
	padding:0.5em 2em;
}
.theme_column1-content{
	padding:0.5em 2em;
	background-color:<?php print t::color_hsb2hex($hsb['h'], 4, 100); ?>;
}
@media all and (max-width:620px){
	.theme_column1-header{
		padding:0.5em 1em;
	}
	.theme_column1-content{
		padding:0.5em 1em;
	}
}

.theme_column2{
	width:24%;
	float:right;
}
.theme_column2 nav{
}

.theme_localnavi{
}
.theme_localnavi .theme_localnavi-parent{
	font-size:80%;
	text-align: center;
}
.theme_localnavi ul{
	margin:0;
	padding:0;
}
.theme_localnavi ul li{
	margin:0;
	padding:0;
	list-style-type:none;
}
.theme_localnavi a{
	color:<?php print $colors['link']; ?>;
	background-color:<?php print $colors['linkx']; ?>;
	display:block;
	padding:0.2em 0.5em 0.2em 1em;
	margin:0 0 1px 0;
	text-decoration:none;
}
.theme_localnavi a:hover{
	color:<?php print $colors['link']; ?>;
	text-decoration:underline;
}
.theme_localnavi ul ul li a{
	padding-left:2em;
	font-size:90%;
}
.theme_localnavi .theme_localnavi-parent a,
.theme_localnavi .theme_localnavi-parent a:hover{
	color: <?php print $colors['main']; ?>;
	background-color: <?php print $colors['mainx']; ?>;
	padding:0.2em 1em;
}

footer{
	clear:both;
	margin-top:1em;
}
footer .theme_foot_menu{
	text-align: center;
	margin:1em 0;
}
footer .theme_foot_menu ul{
	padding:0; margin:0;
}
footer .theme_foot_menu ul li{
	padding:0; margin:0;
	list-style-type:none;
}
footer .theme_foot_close a,
footer .theme_foot_menu a{
	text-decoration:none;
	color:<?php print $colors['white']; ?>;
}
footer .theme_foot_close a:hover,
footer .theme_foot_menu a:hover{
	text-decoration:underline;
}
footer .theme_foot_close a:before,
footer .theme_foot_menu a:before{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('icon', array('colors'=>array('link'=>$colors['mainx'],'linkx'=>$colors['main']))); ?>');
	margin-right:4px;
}
footer .theme_foot_close{
	text-align: center;
	margin:1em 0;
}
footer .theme_foot_back2top{
	padding:0.2em 1em;
	margin:0.2em 0;
	text-align: right;
	background-color:<?php print $colors['main2']; ?>;
	color:<?php print $colors['link']; ?>;
}
footer .theme_foot_back2top *{
	color:<?php print $colors['link']; ?>;
	text-decoration: none;
}
footer .breadcrumb{
	padding:0.2em 1em;
	margin:0.2em 0;
	background-color:<?php print $colors['main2']; ?>;
	color:<?php print $colors['link']; ?>;
}
footer .breadcrumb *{
	color:<?php print $colors['link']; ?>;
}

@media all and (max-width:620px){
	.theme_column1{
		float:none;
		width:auto;
	}
	.theme_column2{
		float:none;
		width:auto;
	}

}

/**
 * [static] .clearfix (and [unit] unit)
 */
.theme_middle{
	display:block;
	float:none;
	clear:both;
}
.theme_middle:after{
	content: " ";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
}
.theme_middle{
	/* clearfix(for IE6,7) (IE8以降不要) */
	zoom:1;
}

/**
 * パンくず
 */
.breadcrumb{
}
.breadcrumb ul,
.breadcrumb ul li{
	display: inline;
	list-style-type: none;
	margin:0px;
	padding:0px;
	font-size: 85%;
}


