<?php
	$obj_funcs = $this->px->load_pxtheme_class('/funcs.php');
	$obj_funcs = new $obj_funcs($this->px);

	$colors = $obj_funcs->get_color_scheme();
?>
@charset "UTF-8";

/*
標準のドキュメントモジュールの上書きや、
新しいモジュールを追加する場合は、
このファイルに記述します。
*/


.contents h2{
	background-color:<?php print $colors['thin']; ?>;
	color:<?php print $colors['black']; ?>;
	padding:0.3em 1em;
}
.contents h3{
	color:#000;
	border-bottom:2px solid <?php print $colors['main']; ?>;
}
.contents dl{
	margin-left:1em;
}
.contents video,
.contents audio,
.contents svg,
.contents img{
	max-width:100%;
	max-height:100%;
}
a.icon:before{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('icon'); ?>');
	margin-right:4px;
}
a.up:before{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('up'); ?>');
	margin-right:4px;
}
a.down:before{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('down'); ?>');
	margin-right:4px;
}
a.back:before{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('back'); ?>');
	margin-right:4px;
}
a span.blank:after{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('blank'); ?>');
	margin-left:4px;
}
a span.download:after{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('download'); ?>');
	margin-left:4px;
}
a span.pdf:after{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('pdf'); ?>');
	margin-left:4px;
}
a span.pdf:after{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('pdf'); ?>');
	margin-left:4px;
}
.more_links a:before{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('icon'); ?>');
	margin-right:4px;
}
.more_links ul{
	padding:0;
}
.page_top a:before{
	content:url('<?php print $obj_funcs->create_src_link_icon_uri('up'); ?>');
	margin-right:4px;
}
.anchor_links{
	margin-left:2em;
	margin-right:2em;
	border-radius:10px;
	border-color: #bbb;
	background-color: #fafafa;
}

.contents .thumb_list{}
@media all and (max-width:620px){
	.thumb_list ul li{
		font-size:x-small;
	}
	.anchor_links{
		margin-left:1em;
		margin-right:1em;
	}
	.cols {
		margin-left:0;
	}
	.cols .cols-col{
		float:none;
		width:auto;
		margin:1em 0;
	}
	.cols .cols-pad{
		margin-left:0;
	}
}

