@charset "UTF-8";

/**
 * ユニット
 * モジュールの単位となる。前後にデフォルトマージン付加
 */
div.unit{
	margin-top:1em;
	margin-bottom:1.5em;
	clear:both;
}

/**
 * 画像置換
 * .haribotekit の移植
 */
.imagereplace{
	display:block;
	position:relative; top:auto; left:auto;
	padding:0px 0px 0px 0px !important;
	border:0px solid transparent !important;
	overflow:hidden;
	zoom:100%;
}
.imagereplace .imagereplace-panel{
	display:block;
	position:absolute; top:0px; left:0px;
	width:100%; height:100%;
	background-repeat:no-repeat;
	background-color:transparent;
	zoom:100%;
}


/**
 * 文字サイズ
 */
.xxlarge{
	font-size:xx-large;
}
.xlarge{
	font-size:x-large;
}
.large{
	font-size:large;
}
.medium{
	font-size:medium;
}
.small{
	font-size:small;
}
.xsmall{
	font-size:x-small;
}
.xxsmall{
	font-size:xx-small;
}

/**
 * 文字組み
 */
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}

/**
 * まわりこみ制御
 */
.fl{
	float:left;
}
.fr{
	float:right;
}
.fc{
	float:none;
	clear:both;
}

/**
 * .clearfix
 */
.unit,
.clearfix{
	display:block;
	float:none;
	clear:both;
}
.unit:after,
.clearfix:after{
	content: " ";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0px;
	clear:both;
}
.unit,
.clearfix{
	/* clearfix(for IE6,7) (IE8以降不要) */
	zoom:1;
}

/**
 * カレントページ
 */
.current{
	font-weight:bold;
}

/**
 * デフォルトテーブルスタイル
 */
table.def {
	border:none;
	border-collapse: collapse;
	text-align: left;
}
table.def th,
table.def td {
	border: 1px solid #d6d6d6;
	padding: 10px;
}
table.def th {
	background: #e7e7e7;
}

/**
 * カラムレイアウト
 */
.cols{
	margin-left:-20px;
	overflow:hidden;
}
.cols-col{
	float:left;
	margin:0 0 0 0;
}
.cols-col.cols-w75per{
	width:75%;
}
.cols-col.cols-w50per{
	width:50%;
}
.cols-col.cols-w66per{
	width:66.666%;
}
.cols-col.cols-w33per{
	width:33.333%;
}
.cols-col.cols-w25per{
	width:25%;
}
.cols .cols-pad{
	margin-left:20px;
}
.cols .cols-last{
	float:right;
	/margin-right:-10px;
}
