@charset "UTF-8";

/**
 * [static] 画像置換
 * .haribotekit の移植
 */
.imagereplace{
	display:block;
	position:relative; top:auto; left:auto;
	padding:0px 0px 0px 0px !important;
	border:0px solid transparent !important;
	overflow:hidden;
	zoom:100%;
}
.imagereplace .imagereplace-panel{
	display:block;
	position:absolute; top:0px; left:0px;
	width:100%; height:100%;
	background-repeat:no-repeat;
	background-color:transparent;
	zoom:100%;
}

/**
 * [static] 文字サイズ
 */
.xxlarge{
	font-size:150%;
}
.xlarge{
	font-size:123%;
}
.large{
	font-size:108%;
}
.medium{
	font-size:100%;
}
.small{
	font-size: 85%;
}
.xsmall{
	font-size: 77%;
}
.xxsmall{
	font-size: 60%;
}


/**
 * [static] 文字組み
 */
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}

/**
 * [static] まわりこみ制御
 */
.fl{
	float:left;
}
.fr{
	float:right;
}
.fc{
	float:none;
	clear:both;
}

/**
 * [parts] リンク
 */
a{
}

/**
 * [parts] アイコン付きリンク
 */
a.icon:before{
	content:"⇒ ";
}
/**
 * [parts] ページ内リンク(下向き)
 */
a.down:before{
	content:"↓ ";
}
/**
 * [parts] ページ内リンク(上向き)
 */
a.up:before{
	content:"↑ ";
}
/**
 * [parts] 戻るリンク
 */
a.back:before{
	content:"← ";
}
/**
 * [parts] 付加リンクモジュール：別ウィンドウリンク
 */
a span.blank:after{
	content:" □";
}
/**
 * [parts] 付加リンクモジュール：ダウンロードリンク
 */
a span.download:after{
	content:" [↓]";
}
/**
 * [parts] 付加リンクモジュール：PDF
 */
a span.pdf:after{
	content:" (PDF)";
}

/**
 * [parts] エラー表示
 */
.error{
	color:#ff0000;
}

/**
 * [static] カレントページ
 */
.current{
	font-weight:bold;
}

/**
 * [unit] ユニット
 * モジュールの単位となる。前後にデフォルトマージン付加
 */
div.unit{
	margin-top:1em;
	margin-bottom:1.5em;
	clear:both;
}

/**
 * [static] .clearfix (and [unit] unit)
 */
.unit,
.clearfix{
	display:block;
	float:none;
	clear:both;
}
.unit:after,
.clearfix:after{
	content: " ";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0px;
	clear:both;
}
.unit,
.clearfix{
	/* clearfix(for IE6,7) (IE8以降不要) */
	zoom:1;
}

/**
 * [unit] カラムレイアウト
 */
.cols{
	margin-left:-20px;
	overflow:hidden;
}
.cols-col{
	float:left;
	margin:0 0 0 0;
}
.cols-col.cols-w75per{
	width:75%;
}
.cols-col.cols-w50per{
	width:50%;
}
.cols-col.cols-w66per{
	width:66.666%;
}
.cols-col.cols-w33per{
	width:33.333%;
}
.cols-col.cols-w25per{
	width:25%;
}
.cols .cols-pad{
	margin-left:20px;
}
.cols .cols-last{
	float:right;
	/margin-right:-10px;
}

/**
 * [parts] 注釈リスト
 */
ul.notes{}
ul.notes li{
	list-style-type:none;
	text-indent:-1em;
}

/**
 * [parts] リストマークがないリスト
 */
ul.nomark{
	padding-left:0;
}
ul.nomark li{
	list-style-type:none;
	padding-left:0;
}


/**
 * 注釈定義リスト
 */
dl.notes{
	padding:0px 0px 0px 0px;
	margin-left:0px;
	margin-right:0px;
}
dl.notes dt{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	float:left;
	clear:left;
	border:0px none;
	font-weight:normal;
}
dl.notes dd{
	padding:0px 0px 0px 5px;
	margin:0px 0px 0px 0px;
	float:none;
	font-weight:normal;
	display:block;
	overflow:hidden;
	zoom:100%;
}

/**
 * [parts] デフォルトテーブルスタイル
 */
table.def {
	border:none;
	border-collapse: collapse;
	text-align: left;
}
table.def th,
table.def td {
	border: 1px solid #999999;
	background: #ffffff;
	padding: 10px;
}
table.def th {
	background: #e7e7e7;
}
table.def thead th,
table.def tfoot th{
	background: #d9d9d9;
	text-align:center;
}
table.def thead td,
table.def tfoot td{
	background: #eeeeee;
}


/**
 * [parts] ソースコード
 */
.code{
	margin:1em 0;
}
.code pre{
	margin:0px;
}
.code code,
.code textarea{
	border:1px solid #999999;
	background:#f5f5f5;
	padding:1em;
	font-size:small;
	line-height:1.5;
}
.code code{
	display:block;
	width:auto;
	background:#e8e8e8;
	border:1px dashed #999999;
	overflow:auto;
}
.code textarea{
	display:block;
	width:100%;
	box-sizing:border-box;
	height:16em;
}


/**
 * [parts] 日付入りリスト .date_list
 */
.date_list{
}
.date_list table{
	width:100%;
	border:none;
	border-collapse: collapse;
}
.date_list table th,
.date_list table td {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	padding: 10px;
}
.date_list table th {
	background: #e7e7e7;
}
.date_list table thead th,
.date_list table tfoot th{
	background: #d9d9d9;
}
.date_list table thead td,
.date_list table tfoot td{
	background: #eeeeee;
}
.date_list table th{
	white-space:nowrap;
}
.date_list table thead{
	text-align:center;
}

/**
 * [parts] フォーム要素
 */
table.form_elements {
	border:none;
	border-collapse: collapse;
	text-align: left;
	width:100%;
}
table.form_elements thead{
	display:none;
}
table.form_elements th,
table.form_elements td {
	border: 1px solid #999999;
	padding: 10px;
}
table.form_elements th {
	background: #e7e7e7;
}
table.form_elements thead th,
table.form_elements tfoot th{
	background: #d9d9d9;
	text-align:center;
}
table.form_elements thead td,
table.form_elements tfoot td{
	background: #eeeeee;
}
table.form_elements tbody th {
	width:30%;
}
table.form_elements tbody td {
	width:70%;
}
table.form_elements .form_elements-notes {
	font-size:86%;
	color:#999999;
	margin:0px; padding:0px;
}
table.form_elements .form_elements-notes li{
	list-style-type:none;
	margin:0px;
}
table.form_elements .form_elements-list{
	margin:0px; padding:0px;
}
table.form_elements .form_elements-list li{
	margin:0px; padding:0px;
	list-style-type:none;
}
table.form_elements .form_elements-list_horizontal{
	margin:0px; padding:0px;
}
table.form_elements .form_elements-list_horizontal li{
	margin:0px; padding:0px;
	list-style-type:none;
	display:inline;
}
table.form_elements .form_elements-must{
	color:#ff0000;
	font-weight:bold;
	display:block;
}
table.form_elements .form_elements-error{
}
table.form_elements .form_elements-error th{
	background-color:#ffcccc;
}
table.form_elements .form_elements-error td{
	background-color:#fff2f2;
}
table.form_elements ul.form_elements-errors{
	color:#ff0000;
	margin:0px; padding:0px;
}
table.form_elements ul.form_elements-errors li{
	list-style-type:none;
	margin:0px;
}

/**
 * [unit] フォーム送信ボタン
 */
.form_buttons {
	position:relative;
	text-align:center;
}
.form_buttons ul ,
.form_buttons ul li{
	margin:0; padding:0;
	list-style-type:none;
}
.form_buttons ul li.form_buttons-revise{
	position:absolute; left:0px; bottom:0px;
}

/**
 * [unit] エラー通知ボックス
 */
.form_error_box {
	border: 2px solid #ff9900;
	padding:0 20px;
	background-color:#fff5f5;
	color:#ff0000;
	margin-left:20px;
	margin-right:20px;
	border-radius:10px;
}
.form_error_box a{
	color:#ff0000;
}

/**
 * [unit] 注意喚起ユニット
 */
.attention {
	border:1px solid #999999;
	padding:0 20px;
	margin-left:20px;
	margin-right:20px;
	border-radius:10px;
	background-color:#f9f9f9;
}
.attention .attention-heading{
	font-weight:bold;
	margin:1em 0;
	font-size:120%;
}

/**
 * [unit] ページャー
 */
.pager{
}
.pager ul{
	text-align:center;
	padding:0px;
	margin:0px;
}
.pager ul li{
	display:inline;
	list-style-type:none;
	padding:0px 5px 0px 5px;
}

/**
 * [unit] サムネイルリスト
 */
.thumb_list{
}
.thumb_list ul{
	text-align:left;
	padding:0px;
	margin:0px;
	font-size:0px;
	margin-left:-10px; zoom:1;
}
.thumb_list ul li{
	display:inline-block;
	>display:inline; zoom:1;
	list-style-type:none;
	width:25%;
	>width:24.9%;
	margin:0px;
	margin-bottom:10px;
	padding:0px;
	vertical-align:top;
	font-size:small;
}
.thumb_list ul li .thumb_list-pad{
	margin-left:10px;
}
.thumb_list ul li a{
	display:block;
	width:100%;
	height:100%;
}
.thumb_list ul li img{
	width:100%;
	height:auto;
}
.thumb_list ul li:nth-child(4n+1){
	clear:left;
}

/**
 * [unit] 回り込み画像
 */
.float_image{
}
.float_image .float_image-r50per{
	float:right;
	width:50%;
	margin-left:20px;
	margin-bottom:20px;
}
.float_image .float_image-l50per{
	float:left;
	width:50%;
	margin-right:20px;
	margin-bottom:20px;
}
.float_image .float_image-r33per{
	float:right;
	width:33%;
	margin-left:20px;
	margin-bottom:20px;
}
.float_image .float_image-l33per{
	float:left;
	width:33%;
	margin-right:20px;
	margin-bottom:20px;
}
.float_image .float_image-r25per{
	float:right;
	width:25%;
	margin-left:20px;
	margin-bottom:20px;
}
.float_image .float_image-l25per{
	float:left;
	width:25%;
	margin-right:20px;
	margin-bottom:20px;
}
.float_image .float_image-l50per img,
.float_image .float_image-l33per img,
.float_image .float_image-l25per img,
.float_image .float_image-r50per img,
.float_image .float_image-r33per img,
.float_image .float_image-r25per img{
	width:100%;
	height:auto;
}
.float_image .float_image-image{
	margin-top:0px;
}
.float_image .float_image-caption{
	font-size:86%;
}
.float_image .float_image-body{
}
.float_image .float_image-body_rect{
	overflow:hidden;
}
.float_image .float_image-body_rect *:first-child{
	margin-top:0px;
}

