@charset "UTF-8";

/**
 * ユニット
 * モジュールの単位となる。前後にデフォルトマージン付加
 */
div.unit{
	margin-top:1em;
	margin-bottom:1.5em;
	clear:both;
}

/**
 * 画像置換
 * .haribotekit の移植
 */
.imagereplace{
	display:block;
	position:relative; top:auto; left:auto;
	padding:0px 0px 0px 0px !important;
	border:0px solid transparent !important;
	overflow:hidden;
	zoom:100%;
}
.imagereplace .imagereplace-panel{
	display:block;
	position:absolute; top:0px; left:0px;
	width:100%; height:100%;
	background-repeat:no-repeat;
	background-color:transparent;
	zoom:100%;
}


/**
 * 文字サイズ
 */
.xxlarge{
	font-size:xx-large;
}
.xlarge{
	font-size:x-large;
}
.large{
	font-size:large;
}
.medium{
	font-size:medium;
}
.small{
	font-size:small;
}
.xsmall{
	font-size:x-small;
}
.xxsmall{
	font-size:xx-small;
}

/**
 * 文字組み
 */
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}

/**
 * まわりこみ制御
 */
.fl{
	float:left;
}
.fr{
	float:right;
}
.fc{
	float:none;
	clear:both;
}

/**
 * .clearfix
 */
.unit,
.clearfix{
	display:block;
	float:none;
	clear:both;
}
.unit:after,
.clearfix:after{
	content: " ";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0px;
	clear:both;
}
.unit,
.clearfix{
	/* clearfix(for IE6,7) (IE8以降不要) */
	zoom:1;
}

/**
 * カレントページ
 */
.current{
	font-weight:bold;
}

/**
 * デフォルトテーブルスタイル
 */
table.def {
	border:none;
	border-collapse: collapse;
	text-align: left;
}
table.def th,
table.def td {
	border: 1px solid #d6d6d6;
	padding: 10px;
}
table.def th {
	background: #e7e7e7;
}

/**
 * カラムレイアウト
 */
.columns {
	margin:1em 0 1.5em 0;
}
.columns .columns-col {
	float:left;
	margin:0 3% 0 0;
}
.columns .columns-col:last-child {
	margin:0 0 0 0;
}
.columns .columns-last{
	/* IE7,8対応 */
	margin:0 0 0 0;
}
.columns .columns-1of2 {
	width:47%;
}
.columns .columns-1of3 {
	width:30.3%;
}
.columns .columns-2of3 {
	width:63.6%;
}
.columns .columns-1of4 {
	width:22%;
}
.columns .columns-3of4 {
	width:72%;
}

