@charset "UTF-8";

/**
 * [static] 画像置換
 * .haribotekit の移植
 */
.imagereplace{
	display:block;
	position:relative; top:auto; left:auto;
	padding:0px 0px 0px 0px !important;
	border:0px solid transparent !important;
	overflow:hidden;
	zoom:100%;
}
.imagereplace .imagereplace-panel{
	display:block;
	position:absolute; top:0px; left:0px;
	width:100%; height:100%;
	background-repeat:no-repeat;
	background-color:transparent;
	zoom:100%;
}

/**
 * [static] 文字サイズ
 */
.xxlarge{
	font-size:xx-large;
}
.xlarge{
	font-size:x-large;
}
.large{
	font-size:large;
}
.medium{
	font-size:medium;
}
.small{
	font-size:small;
}
.xsmall{
	font-size:x-small;
}
.xxsmall{
	font-size:xx-small;
}

/**
 * [static] 文字組み
 */
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}

/**
 * [static] まわりこみ制御
 */
.fl{
	float:left;
}
.fr{
	float:right;
}
.fc{
	float:none;
	clear:both;
}

/**
 * [parts] リンク
 */
a{
}

/**
 * [parts] アイコン付きリンク
 */
a.icon:before{
	content:"⇒ ";
}
/**
 * [parts] 別ウィンドウリンク
 */
a.blank:after{
	content:" □";
}
/**
 * [parts] ページ内リンク(下向き)
 */
a.down:before{
	content:"↓ ";
}
/**
 * [parts] ページ内リンク(上向き)
 */
a.up:before{
	content:"↑ ";
}
/**
 * [parts] 戻るリンク
 */
a.back:before{
	content:"← ";
}
/**
 * [parts] ダウンロードリンク
 */
a.download:after{
	content:" [↓]";
}
/**
 * [parts] PDFリンク
 */
a.pdf:after{
	content:" (PDF)";
}

/**
 * [static] カレントページ
 */
.current{
	font-weight:bold;
}

/**
 * [unit] ユニット
 * モジュールの単位となる。前後にデフォルトマージン付加
 */
div.unit{
	margin-top:1em;
	margin-bottom:1.5em;
	clear:both;
}

/**
 * [static] .clearfix (and [unit] unit)
 */
.unit,
.clearfix{
	display:block;
	float:none;
	clear:both;
}
.unit:after,
.clearfix:after{
	content: " ";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0px;
	clear:both;
}
.unit,
.clearfix{
	/* clearfix(for IE6,7) (IE8以降不要) */
	zoom:1;
}

/**
 * [unit] カラムレイアウト
 */
.cols{
	margin-left:-20px;
	overflow:hidden;
}
.cols-col{
	float:left;
	margin:0 0 0 0;
}
.cols-col.cols-w75per{
	width:75%;
}
.cols-col.cols-w50per{
	width:50%;
}
.cols-col.cols-w66per{
	width:66.666%;
}
.cols-col.cols-w33per{
	width:33.333%;
}
.cols-col.cols-w25per{
	width:25%;
}
.cols .cols-pad{
	margin-left:20px;
}
.cols .cols-last{
	float:right;
	/margin-right:-10px;
}

/**
 * [parts] 注釈リスト
 */
ul.notes{}
ul.notes li{
	list-style-type:none;
	text-indent:-1em;
}

/**
 * [parts] リストマークがないリスト
 */
ul.nomark{
	padding-left:0;
}
ul.nomark li{
	list-style-type:none;
	padding-left:0;
}

/**
 * [parts] デフォルトテーブルスタイル
 */
table.def {
	border:none;
	border-collapse: collapse;
	text-align: left;
}
table.def th,
table.def td {
	border: 1px solid #d6d6d6;
	padding: 10px;
}
table.def th {
	background: #e7e7e7;
}

/**
 * [parts] ソースコード
 */
.code{
	margin:1em 0;
}
.code pre{
	margin:0px;
}
.code code,
.code textarea{
	border:1px solid #999999;
	background:#f5f5f5;
	padding:1em;
	font-size:small;
	line-height:1.5em;
}
.code code{
	display:block;
	width:auto;
	background:#e8e8e8;
	border:1px dashed #999999;
}
.code textarea{
	display:block;
	width:100%;
	box-sizing:border-box;
	height:16em;
}
