# for PxFW 1.X
RewriteEngine on
RewriteCond %{REQUEST_URI} !^.*?/_px_execute.php/
RewriteCond %{REQUEST_URI} /(.*?\.(?:html|css|js))?$
RewriteRule ^(.*)$ _px_execute.php/$1 [L]

Options -MultiViews +FollowSymLinks

php_value error_reporting 4
php_flag display_errors Off
