# for PxFW 1.X
RewriteEngine on
RewriteCond %{REQUEST_URI} !^.*?/_px_execute.php/
RewriteRule ^(.*)$ _px_execute.php/$1 [L]

Options -MultiViews

## for PxFW EZmode.
#RewriteEngine on
#RewriteRule ^(.*)\.html$ /px1x/_px_execute.php/$1.pxhtml
#RewriteRule ^(.*)/$ /px1x/_px_execute.php/$1/index.pxhtml
#
#Options -MultiViews
